@model TweetAnalysis.Tweet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tweet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttachmentImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttachmentImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TweetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TweetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
